layout {
  tab name="w-notes" hide_floating_panes=true cwd="~/work/work-notes"{
    pane size=1 borderless=true {
      plugin location="tab-bar" {
      }
    }
    pane split_direction="vertical" {
      pane name="nvim" {
          command "nvim"
          //args "."
      }
    }
    floating_panes {
      pane name="zsh" {
        width "70%"
        height "70%"
        x "15%"
        y "15%"
      }
    }
    pane size=2 borderless=true {
      plugin location="status-bar" {
          classic true
      }
    }
  }
}
