# used by nh to build the flake
export FLAKE="$PWD"

export username="dan"
export useremail="jdgonzal@proton.me"
export system="x86_64-linux"
export hostname="nixos"
export nixos_profile="wsl"
export system_flake="$PWD"
export is_work=false
export is_gui=false
