# NOTE: run "direnv stdlib" to see available cmds
# some useful cmds:
# - dotenv (load a .env file)
# - has (check if a cmd is available)

# direnv cmd to check if tool is installed
if ! has task; then
  echo "go-task is not installed"
fi

# used by nh to build the flake
export FLAKE="$PWD"

export username="dan"
export useremail="jdgonzal@proton.me"
export system="x86_64-linux"
export hostname="nixos"
export nixos_profile="wsl"
export system_flake="$PWD"
export is_work=false
export is_gui=false
export is_wsl=true
